* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #ee9105;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-weight: bolder;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/5.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn2 {
  background-color: #c8990d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.btn1 {
  background-color: #16f15b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.btn:hover {
  background-color: #ffd166;
}

/* Content Section */
.content {
  text-align: center;
  padding: 50px 20px;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
  color: #e25a16;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #12f27b;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow-x: hidden;
  font-size: 30px;
  background: #ffb703;
}
.footer-section {
  background: black;
  overflow-x: hidden;
}

.me-4 {
  text-decoration: none;
  font-size: 30px;
}

.copyright-text {
  text-decoration: none;
  font-size: 20px;
}
.me-4:hover {
  background-color: blue;
  transform: scale(1.1);
}
